
body {
  background: rgb(131,29,193);
  background: linear-gradient(90deg, rgba(131,29,193,1) 22%, rgba(13,164,195,1) 100%);
}
input[type="text"] {
  background-color : rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  border: none;
  height: 30px;
  width: 300px;
  text-indent: 10px;
}
body {
  margin-left: 42%;
  margin-right: 58%;
  margin-top: 8%;
  overflow: hidden;
}
::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input, textarea {
  margin: 4px;
}
h1 {
  color: rgba(255, 255, 255, 0.5);
  font-family: monospace;
  letter-spacing: 4px;
  margin-left: 10px
}
textarea {
  margin-top: 6px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  height: 400px;
  width: 296px;
  text-indent: 10px;
  resize: none;
  overflow: hidden;
}
textarea, input {
  letter-spacing: 1px;
}
input[type="submit"] {
  background-color : rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  border: none;
  height: 30px;
  width: 300px;
  text-indent: 10px;
}
input[type="submit"]:hover {
  background-color : rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.9);
  border: none;
  height: 30px;
  width: 300px;
  text-indent: 10px;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
